.image {
    background-image: url("/assets/sanjith.jpg");
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 10px rgb(255,255,255);
    height: 500px;
    width: 500px;
    border-radius: 50%;   
    border: 2px;
    animation: glow-box 2s ease-in-out infinite alternate;
}

.flex-container-home {
    display: flex;
    height: 70vh;
    padding-top: 20vh;
    padding-bottom: 20vh;


    /* background-color: blue; */
}

#flex-item-home-1{
    display: flex;
    align-self: center;
}

.flex-container-home-2 {
    display: flex;
    height: 70vh; 
    margin-left: 20px;
    
    flex-direction: column;
    justify-content: center;
    
}

h1 {
    font-size: 40px;
    /* text-shadow: 0 0 20px white; */
    animation: glow 2s ease-in-out infinite alternate;
}
h3 {
    font-size: 30px;
    /* text-shadow: 0 0 10px white; */
    animation: glow 2s ease-in-out infinite alternate;
}

h5{
    /* text-shadow: 0 0 10px white; */
    animation: glow 2s ease-in-out infinite alternate;
} 
@keyframes glow {
    0% {
        text-shadow: 0 0 0px white, 0 0 5px white;
    }
    100% {
        text-shadow: 0 0 10px white, 0 0 15px white;
    }
}

@keyframes glow-box {
    0% {
        box-shadow: 0 0 10px white, 0 0 15px white, 0 0 20px white;
    }
    100% {
        box-shadow: 0 0 20px white, 0 0 25px white, 0 0 30px white;
    }
}
